.DS_Store
Arduino/
Babe/
Blogs/
Books/
Document1.docx
FOLLY.stl
HeartPump_pres.docx
PCB/
Personal Development/
Plant_pres.docx
PorosityMeter_pres.docx
Rafik/
School/
SensorApp_pres.docx
Stocks/
What's Important/
dani_print_26-3-19.stl
index.htm
photos/
smartBand_mk3/
swiftProjects/
testSDWebsite1 copy.html
testSDWebsite1.html
Machine Learning/untitled1.py
Machine Learning/.ipynb_checkpoints
Machine Learning/parameter_testing.txt
